.App {
  text-align: center;
}
body {
  font-family: sans-serif, Arial;
  max-width: 960px;
  margin: 0 auto;
  color: #f8f8f8;
  background-color: #173869;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 0.9em;
}
h3 {
  font-size: 1.2em;
  margin-top: 60px;
}
h4 {
  font-size: 0.9em;
}
p {
  font-size: 0.8em;
  color: #dfdfdf;
}
a {
  text-decoration: none;
  color: #d5d6d8;
}
a:hover {
  color: #ffcba3;
}
.clearfix {
  clear: both;
}
hr {
  border-bottom: 3px solid #1eb4ef;
}
.form {
  max-width: 800px;
}
.header {
  text-align: center;
}
button {
  background-color: transparent;
  border: 1px solid #1580aa;
  color: #fff;
  padding: 10px 10px;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #1580aa;
  border: 1px solid transparent;
}
label {
  font-size: 0.9em;
  color: #dfdfdf;
  float: left;
  margin: 20px 0px;
  width: 100%;
}
::placeholder {
  font-size: 1em;
  color: #b1b5bb;
}
input[type="text"] {
  font-size: 0.9em;
  background-color: #454d57;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #90979e;
  margin-top: 40px;
  color: #dfdfdf;
  outline: none;
  min-width: 380px;
}
.invalid {
  border: 2px solid red !important;
}
.message {
  color: #f2842d;
  max-width: 180px;
}
.container {
  margin: 30px auto;
  width: 60%;
}
.student-card {
  width: 300px;
  text-align: left;
}
li {
  list-style: none;
  background: #1580aa;
  color: #fff;
  padding: 30px;
  text-align: left;
  min-height: 356px;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
input[type="file" i] {
  color: #fff;
}
.buttongallery {
  color: #fff;
  cursor: pointer;
  margin: 20px auto;
}
.buttoncancel {
  color: #fff;
  cursor: pointer;
  float: left;
  margin-left: 40px;
}
.buttonsave {
  color: #fff;
  cursor: pointer;
  float: left;
}
.buttonupdate {
  color: #fff;
  cursor: pointer;
  float: left;
}
.buttondelete {
  color: #fff;
  cursor: pointer;
  float: left;
}
label {
  display: block;
  text-align: left;
}
input {
  display: block;
}
.image-container {
  height: 240px;
  display: block;
  overflow: hidden;
  text-align: center;
}
.student-info {
  width: 42%;
  background: #1580aa;
  color: #fff;
  padding: 40px;
  text-align: left;
  min-height: 400px;
  margin: 0 auto;
}
.student-info-img {
  text-align: center;
}
.student-nav {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  margin: 20px auto;
}
.student-nav button {
  width: 100%;
}
@media screen and (min-width: 551px) and (max-width: 768px) {
  .student-nav {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    margin: 20px auto;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .student-info {
    width: 80%;
    background: #1580aa;
    color: #fff;
    padding: 40px;
    text-align: left;
    min-height: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .student-nav {
    width: 80%;
<<<<<<< HEAD
    display: grid;
=======
    display: block;
>>>>>>> fabc2ca9b37654cd69451f20046bdf02d427704f
    margin: 20px auto;
  }
  ul {
    display: block;
  }
  li {
    margin: 20px auto;
  }
  .student-info {
    width: 80%;
    background: #1580aa;
    color: #fff;
    padding: 40px;
    text-align: left;
    min-height: 400px;
    margin: 0 auto;
  }
}
