body {
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}
#loader {
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: rgb(175, 175, 175);
}
.my-filter {
  padding: 20px 0px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fas,
.fa {
  color: #aeaeae;
  cursor: pointer;
  font-size: 20px;
}
.fas:hover,
.fa:hover {
  color: #ffa25a;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  max-width: 260px;
  min-height: 200px;
  height: 300px;
  width: 300px;
}
.card-text {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%; */
  font-weight: bold;
}
.card-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.125);
}
li {
  list-style: none;
}
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}
button {
  margin: 5px 3px;
}
.btn-secondary {
  padding: 4px 20px 5px 10px;
  color:#6a6b6b;
  background-color: #939393;
}
.btn-secondary:hover {
  background-color: #3131318e;
}
input {
  margin: 15px 10px;
}
.empty-list {
  color: #fff;
  text-align: center;
}
i.sort-asc,
i.sort-desc {
  position: relative;
  float: right;
}
.sort-asc:before {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  pointer-events: none;
  bottom: 8px;
  border-bottom: 6px solid rgb(255, 255, 255);
}
.sort-desc:after {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  pointer-events: none;
  bottom: 0;
  border-top: 6px solid rgb(255, 255, 255);
}
.pagination-arrow {
  position: relative;
  top: 2px;
}
.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: bold;
}
.modal-content img {
  width: 40%;
  float: left;
}
.modal-content h2,
.modal-content p {
  width: 55%;
  float: right;
}
.my-modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-dialog {
  max-width: 70%;
  margin: 1.75rem auto;
}
.modal-body, .modal-content{
  padding: 1rem;
  background-color:transparent;
}
.modal-content{
  background-color:rgba(255, 255, 255, 0.966);
}
.card-img-wrapper{
  width:100%;
  height:100%;
  overflow: hidden;
}
#my-input{
  margin:6px;
  border-radius: 6px;
  padding: 2px 6px;
}
.navbar-text{
color:#aeaeae;
}