<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Integrify Students Gallery</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>

<body>
    <div class="gallery">
        <h1>Students Gallery</h1>
        <a href="addstudent">
            <button>Add student</button>
        </a>
        <ul>
            <% for(let student of students){ %>
                <a href="/students/<%= student.firstName %>">
                    <li>
                        <div class="image-frame">
                            <img width=300 src="<%= student.src %>" onerror="this.src='img-placeholder.png'">
                        </div>
                        <h2>
                            <%= student.firstName %>
                                <%= student.lastName %>
                        </h2>
                    </li>
                </a>
                <% } %>
        </ul>
    </div>
</body>

</html>